@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFF;
}

.banner-title {
    font-family: 'Abril Fatface', cursive;
}